.users-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.users-list article {
    background: #FFF;
    border: 1px solid #87ce;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.users-list article p {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.users-list article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #87ce;
    background: none;
    margin-top: 10px;
    color: #87ce;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.users-list article a:hover {
    background: #054f77;
    color: #fff;
}

.new-user {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #87ce;
    background: #054f77;
    margin-left: 10px;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    transition: all 0.2s;
}