.users-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.users-list article {
    background: #44475a;
    border: 1px solid #f8f8f2;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.users-list article strong {
    color: aliceblue;
}

.users-list article p {
    font-size: 16px;
    color: aliceblue;
    margin-top: 5px;
    line-height: 24px;
}

.users-list article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #87ce;
    background: #d3ddd3;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.users-list article a:hover {
    background: #808080;
    color: black;
}

.new-user {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #87ce;
    background: #50fa7b;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    transition: all 0.2s;
}