.form-user h1 {
    color: aliceblue;
    margin-left: 20px;
    margin-top: 10px;
}

.form-user form {
    background: #44475a;
    border: 1px solid #f8f8f2;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-right: 900px;
    margin-left: 20px;
}

.form-user input {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 5px;
}

.form-user button {
    background: #50fa7b;
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}
.form-user a {
    background: #50fa7b;
    text-decoration: none;
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    color: black;
}